body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content
{
  margin: 70px;
}

.carousel-control-prev svg,
.carousel-control-next svg {
  width: 30px;
  height: 30px;
  color: rgb(33, 37, 41);
}

.carousel-control-prev svg:hover,
.carousel-control-next svg:hover {
  color: rgb(0, 149, 255);
}



.carousel{
  padding-top: 40px;
}

.calender{
  padding: 20px;
}

.bookButton{
  text-align: center;
}

.profileButton{
  padding: 5px;
}

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.loginForm{
  align-items: center;
  justify-content: center;
}

.formcard{
  padding: 40px;
  align-items: center;
}

.formcard h6{
  margin-top: 20px;
}

.formcard h1{
  padding-bottom: 20px;
}
